.augmented-canvas-modal-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: end;
	align-items: end;
}

.augmented-canvas-modal-input {
	box-sizing: border-box;
	min-height: 70px;
	flex-grow: 1;
	width: 100%;
}
